# TypeScript compilation folders
/dist/
/.temp/

# Database backups
/src/database/backups/full/history/dev/*
/src/database/backups/full/history/prod/*
/src/database/backups/schema-only/history/dev/*
/src/database/backups/schema-only/history/prod/*

# Node packages
/node_modules/

# .env files
/.env*

# Definition-files
/src/classes/*.csv

# Scratch files
/scripts/scratch/