# Dist folder
/dist/

# Database backups
/database/backups/full/history/dev/*
/database/backups/full/history/prod/*
/database/backups/schema-only/history/dev/*
/database/backups/schema-only/history/prod/*

# Node packages
/node_modules/

# .env files
/.env*

# definition-files
/api/classes/*.csv