# TypeScript compilation folders
/dist/
/.temp/

# Database backups
/src/database/backups/full/history/dev/*
/src/database/backups/full/history/prod/*
/src/database/backups/full/*prod
/src/database/backups/schema-only/history/dev/*
/src/database/backups/schema-only/history/prod/*
/src/database/backups/schema-only/*prod

# Node packages
/node_modules/

# .env files
/.env*
!/.env-example

# Definition-files
/src/classes/*.csv

# Scratch files
/scripts/scratch/